<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>usuarios</servlet-name>
        <servlet-class>cdc.controller.ServletUsuario</servlet-class>
        <init-param>
            <param-name>adminEmail</param-name>
            <param-value>victor.lopes@ifg.edu.br</param-value>
        </init-param>
    </servlet>
    
    <servlet>
        <servlet-name>clientes</servlet-name>
        <servlet-class>cdc.controller.ServletCliente</servlet-class>
        <init-param>
            <param-name>adminEmail</param-name>
            <param-value>victor.lopes@ifg.edu.br</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>usuarios</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>clientes</servlet-name>
        <url-pattern>/clientes</url-pattern>
    </servlet-mapping>
    
    <context-param>
        <param-name>emailGeral</param-name>
        <param-value>victorhullopes@gmail.com</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/erro.jsp</location>
    </error-page>
</web-app>
